
body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content:baseline;
    background: url("https://free4kwallpapers.com/uploads/originals/2019/11/10/last-trip-together-wallpaper.jpg") ;
    background-position: center;
    background-size: cover;
    overflow: hidden;
        align-items: center;

}

h2{

    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 30px;
    text-align: center;
    color: rgb(112, 113, 113);
    align-items: center;
}
.day{
    display: flex;
    vertical-align: top;
    text-align: left;
    

    
}
.day div{

    margin: 3px;

}
.day span{
    
    display: inline;
    color: rgb(84, 83, 83);
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(22, 22, 22, 0.3);

 
}
.day #year{
    width: 90px;
}

.clock{
    
    display:flex;
    text-transform: uppercase;
    
}

.clock div{
    
    box-shadow: 2px 2px 5px;
    margin: 5px;
    align-items: center;
    position: relative;

}

.clock span{
    
    width: 100px;
    height: 80px;
    justify-content: center;
    background-color: rgb(6, 176, 203);
    opacity: .8;
    color: white;
    display: flex;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);

}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: 2px;
    background: rgb(4, 108, 140);
    opacity: 0.8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(4, 108, 140);
    box-shadow: 2px 2px 5px black;

}